@model student.Model.Student
<h2>Add Student</h2>
<form method="post">

    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label>Age</label>
        <input asp-for="Age" />
    </div>

    <div>
        <label>Class</label>
        <select asp-for="ClassId" asp-items="ViewBag.ClassList"></select>
    </div>

    <button type="submit">Save</button>

</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}