@model student.Model.Student
<h2>Add Student</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <label>Name:</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />

    <label>Age:</label>
    <input asp-for="Age" />
    <span asp-validation-for="Age"></span>
    <br />

    <button type="submit">Save</button>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}