<h2>Welcome</h2>

<div class="mt-4">
    <div class="card p-4 shadow" style="width:300px;">
        <h4>Student Management</h4>
        <p>View and manage students</p>

        <a asp-area="Admin"
               asp-controller="Student"
               asp-action="Index"
               class="btn btn-primary">
            Open Students
        </a>
    </div>
</div>